/* =============
    Demo
============= */
.triangle{
    width: 0;
    height: 0;
    border: solid 100px;
}

.triangle-red{
    border-color: transparent transparent red;
}

.triangle-blue{
    border-color: transparent transparent blue;
}