/* =============
    Demo
============= */
.box{
    width: 300px;
    height: 300px;
}
.dark-green{
    background-color: #006400;
}
.med-green{
    background-color: #008000;
}

.light-green{
    background-color: #00FF80;
}